<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsaVbijIDw4DImW_Y12sIUGEG3xai5-n4</string>
	<key>GCM_SENDER_ID</key>
	<string>982995320350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bidmygold.app</string>
	<key>PROJECT_ID</key>
	<string>bidmygoldapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bidmygoldapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982995320350:ios:27d8f5fc72193cff49780f</string>
</dict>
</plist>